

body{
    
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: medium;
    font-weight: bold;
    
}
.logo{
    text-align: center;
    
}
.slogan{
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium
    
}
.menu ul{
    padding:0px 6px;
    margin: 25px 0px;
    list-style: none;
    border-color:white;
    border-radius:5px;
    background-color: black;
    border-width: 10px;   
}

.menu ul li{
    padding: 2px 10px;
    display: inline-block;
}

.menu ul li a{
text-decoration-color:transparent;
color:white;
font-family: 'Courier New', Courier, monospace;
border-bottom:white;
}

footer{
    font-size: x-small;
    color: white;
    background-color: black;
}
figcaption{
    font-size: small;
    font-weight: lighter;
}

textarea,label,input{
  border-color:black;
  margin: 4px;
  border-width: unset;
  border-radius: 5px;
}

